Django==4.2.3
python-dotenv==1.0.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
django-cors-headers==4.2.0
cryptography==41.0.2
django-redis==5.0.0
drf-yasg==1.21.6
PyMySQL~=1.1.1
celery==5.3.1
django-celery-beat==2.5.0
django-celery-results==2.5.0
channels==3.0.3
channels-redis==3.3.0
openai==0.28.0
redis==5.0.0b2
requests==2.26.0
langChain==0.1.0
elevenlabs==1.0.5
pillow==9.0.1
django-storages==1.14
boto3==1.34.1
gunicorn==22.0.0
prometheus_client==0.13.1
django_prometheus==2.1.0
daphne==3.0.2
aiohttp==3.8.6